.paper {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #393053;
  padding: 10px 20px;
  margin: 10px auto;
}

.todolist-container {
  align-self: flex-start;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.filter-buttons {
  margin-left: -8px;
}

.list-header {
  margin-top: 20px;
}
