.todolist-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  background-color: #393053;
  padding: 20px;
  margin: 10px auto;
}
