.single-todo {
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-radius: 10px;
  transition: all 0.2s linear;
}

.single-todo:hover {
  background: #443c68;
}

.single-todo .input-container {
  margin: 0;
  top: auto;
}

.single-todo .input-container label {
  top: 36px;
}

.single-todo.edit {
  margin: 20px 0;
  padding: 6px 6px 10px 6px;
}

.todo-info {
  display: flex;
  width: 100%;
}

.done {
  text-decoration: line-through;
  color: rgb(139, 139, 139);
}

.favourite-button {
  border: none;
  background: transparent;
  box-shadow: 0;
  margin-left: 5px;
}

.favourite-button .icon {
  transition: 0.1s linear all;
}

.favourite-button:hover .icon {
  box-shadow: 0 0px 3px 5px rgba(255, 223, 39, 0.3) inset,
    0 0px 2px 4px rgba(255, 223, 39, 0.3);
  filter: brightness(1.2);
}

.change-name-form {
  width: 100%;
}
