.single-todo {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-info {
  display: flex;
}

.done {
  text-decoration: line-through;
  color: rgb(139, 139, 139);
}

.wip {
  margin: 0 4px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}
